# Activation de la réécriture d'URL

RewriteEngine On

# Servir les fichiers statiques directement
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ - [L]

# Règle de réécriture

RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

