body {
    background-color: var(--vert);
}

.dash-title {
    text-align: center;
}

.hero {
    background-image: url('/assets/images/heroDashboard.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    /* ou 500px selon vos besoins */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.lead {
    text-align: center;
    font-weight: 500;
    color: var(--gris);
}

.card {
    background-color: var(--gris);
    border: none;
}

.card-header {
    background-color: var(--bleu);
}

.form-label {
    color: var(--vert-foret);
}

small {
    color: var(--vert-foret);
}



@media (max-width: 768px) {
    .hero {
        height: 15vh;
    }
}