body {
    background-color: var(--vert);
}

/*Section hero*/
.hero {
    background-image: url('/assets/images/Covoitureurs.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    color: var(--gris);
}

.card-header {
    background-color: var(--bleu);
    color: var(--vert-foret);
}

.card {
    background-color: var(--gris);
    border: var(--bleu);
    margin: 2rem;
}


.form-label {
    color: var(--vert-foret);
}

.picto {
    width: 50px;
}

@media (max-width: 768px) {
    .hero {
        height: 15vh;
    }

    h1.hero-title {
        padding: 1rem;
    }

    .picto {
        width: 40px;
    }
}